.logo
  = image_tag 'logo.jpg'

%h1
  天堂儿歌 畅响未来
  %br
  2016 桐庐赛区 抽签结果

%p
  您的报名信息：
%h2
  《
  = @kid.song
  》
  %br
  %small= @kid.name
  %small= @kid.phone
  %br
  %small= @kid.school
  %small= @kid.grade

%p
  您的抽签结果是：
%h2
  = @kid.group
  \#
  = @kid.draw
  号
%p
  该抽签结果的具体时间，地点，及选手信息将在抽签完全结束后，在[桐庐县青少年宫]微信公众号及网站上统一公布，请及时关注！
%p.text-muted
  请牢记您的抽签结果：
  %br
  可以用【屏幕截图】功能保存到手机相册
  %br
  试试：同时按下电源键和Home按键
