.logo
  = image_tag 'ttlogo.jpg', width: '100%'
= bootstrap_flash

%p
  请填写您报名时的信息，
  %br
  点击表单下方的 [抽签] 按钮
  %br
  %small.text-muted ( 集体节目：姓名处 请填写学校名称，电话处 请填写教师电话 )

= simple_form_for :draw, url: draw_path, html: { method: :post } do |f|
  = f.input :name, label: "姓名 / 学校名", placeholder: "报名表中提交的姓名 / 学校名", input_html: { class: "input-lg", value: @name }
  = f.input :phone, label: "手机", placeholder: "报名表中提交的联系电话", input_html: { class: "input-lg", value: @phone }
  = f.button :submit, "抽签", class: 'btn-primary btn-lg btn-block'
