.container
  %h1
    all kids status
    %small= "amount: #{@count}"
  %table.table
    %thead
      %tr
        %th name
        %th phone
        %th school
        %th grade
        %th song
        %th group
        %th number
    %tbody
      - @kids.each do |kid|
        - tr_klass = (kid.name.length > 4 || kid.phone.length != 11) ? 'danger' : ''
        %tr{class: "#{tr_klass}"}
          %td= kid.name
          %td= kid.phone
          %td= kid.school
          %td= kid.grade
          %td= kid.song
          %td= kid.group
          %td= kid.draw
